
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>LocalPet</title>
    <link rel="stylesheet" href="{% static '/paginaweb/Login.css' %}">
</head>
<div class="salir">
    <button onclick="window.location.href='{% url 'index' %}'">Regresar</button>

</div>
<body>
    <div class="container">
        <div class="left-side">
            <div class="logo-container">
                <img src="{% static '/paginaweb/pngegg.png' %}" alt="">
                <span class="logo-text"><b>LocalPet</b></span>
                <br><br>
                
            </div>
        </div>
       
        <div class="right-side">
            <h2>Inicie sesión en su cuenta</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="usuario" >Usuario:</label>
                    <input type="text" id="usuario" name="usuario" placeholder="Ingrese su usuario" required >
                </div>
                <div class="form-group">
                    <label for="contraseña" >Contraseña:</label>
                    <input type="password" id="contraseña" name="contraseña" placeholder="Ingrese su contraseña" required >
                </div>
                
                <button type="submit" class="btn">Ingresar</button>
                <div class="form-group">
                    <br>
                    <a href='{% url 'new_user' %}'>Crear cuenta</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>